<!DOCTYPE html>
<html lang="-pt-br">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css"
            href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="Main.css">
        <title>Tourist attractions</title>
    </head>
    <body>
        <main>
            <section class="WrapperFormConteiner">
                <h1 class="title-form">Adicionar um Ponto Turístico</h1>
                <form class="FormConteiner">
                    <div class="TuristInputs">
                        <div class="FormImage">
                            <label class="select_label">
                                <input type="file" accept="image/*" name="Image"
                                    placeholder="image"
                                    class="input-image">
                                <span class="PictureCap"></span>
                            </label>
                        </div>
                        <div class="wrapperFormInput">
                            <div class="FormImageTitle">
                                <input class="input-titulo" type="text"
                                    name="Título"
                                    placeholder="Título"/>
                            </div>
                            <div class="FormImageDesc">
                                <textarea class="input-descricao" name="descr"
                                    type="text"
                                    placeholder="Descrição"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="button-submit" type="submit">Adicionar</button>
                </form>
            </section>
            <div class="WrapperSlickConteiner">
                <h2 class="title-list">Pontos Turísticos</h2>
                <ul class="Slicklist">
                    <li class="container-item-list">
                        <figure class="SlickImageItem">
                            <img class="image-item" type="image"
                                src="./img/image-item-list-Pão-de-açucar.jpg"
                                alt="Ponto Turístico" placeholder="Imagem"
                                disabled
                                />
                            <h2 class="title-item-list">Pão de açucar</h2>
                            <figcaption class="description-item-list">Amet minim
                                mollit non deserunt ullamco
                                est sit aliqua
                                dolor dosa amet sint. Velit officia consece duis
                                enim
                                velit mollit.</figcaption>
                        </figure>
                    </li>
                    <li class="container-item-list">
                        <figure class="SlickImageItem">
                            <img class="image-item" type="image"
                                src="./img/image-item-list-Cristo_Redentor.jpg"
                                alt="Ponto Turístico" placeholder="Imagem"
                                disabled
                                />
                            <h2 class="title-item-list">Cristo Redentor</h2>
                            <figcaption class="description-item-list">Amet minim
                                mollit non deserunt ullamco
                                est sit aliqua
                                dolor dosa amet sint. Velit officia consece duis
                                enim
                                velit mollit.</figcaption>
                        </figure>
                    </li>
                    <li class="container-item-list">
                        <figure class="SlickImageItem">
                            <img class="image-item" type="image"
                                src="./img/image-item-list-Ilha_Grande.jpg"
                                alt="Ponto Turístico" placeholder="Imagem"
                                disabled
                                />
                            <h2 class="title-item-list">Ilha Grande</h2>
                            <figcaption class="description-item-list">Amet minim
                                mollit non deserunt ullamco
                                est sit aliqua
                                dolor dosa amet sint. Velit officia consece duis
                                enim
                                velit mollit.</figcaption>
                        </figure>
                    </li>
                    <li class="container-item-list">
                        <figure class="SlickImageItem">
                            <img class="image-item" type="image"
                                src="./img/image-item-list-Pão-de-açucar.jpg"
                                alt="Ponto Turístico" placeholder="Imagem"
                                disabled
                                />
                            <h2 class="title-item-list">Centro historico de
                                paraty</h2>
                            <figcaption class="description-item-list">Amet minim
                                mollit non deserunt ullamco
                                est sit aliqua
                                dolor dosa amet sint. Velit officia consece duis
                                enim
                                velit mollit.</figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script type="text/javascript"
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="module" src="bundle.min.js"></script>
    </body>
</html>