<!DOCTYPE html>
<html lang="-pt-br">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="Main.css">
        <title>Tourist attractions</title>
    </head>
    <body>
        <main>
            <section class="WrapperFormConteiner">
                <h1 class="FormTitle">Adicionar um Ponto Turístico</h1>
                <form class="FormConteiner">
                    <div class="TuristInputs">
                        <div class="FormImage">
                            <label class="select_label">
                                <input type="file" accept="image/*" name="Image"
                                    placeholder="image"
                                    class="Image">
                                <span class="PictureCap"></span>
                            </label>
                        </div>
                        <div class="wrapperFormInput">
                            <div class="FormImageTitle">
                                <input class="item-title" type="text"
                                    name="Título"
                                    placeholder="Título"/>
                            </div>
                            <div class="FormImageDesc">
                                <textarea class="item-desc" name="descr"
                                    type="text"
                                    placeholder="Descrição"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="add" type="submit">Adicionar</button>
                </form>
            </section>
            <div class="WrapperSlickConteiner">
                <h3 class="FormTitle">Pontos Turísticos</h3>
                <ul class="Slicklist">
                    <li>
                        <figure class="SlickImageItem">
                            <img class="image-item" type="image"
                                src="./img/image-item-list-Pão-de-açucar.jpg"
                                alt="Ponto Turístico" placeholder="Imagem"
                                disabled
                                />
                            <h2 class="title_item">Pão de açucar</h2>
                            <figcaption>Amet minim mollit non deserunt ullamco
                                est sit aliqua
                                dolor dosa amet sint. Velit officia consece duis
                                enim
                                velit mollit.</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="SlickImageItem">
                            <img class="image-item" type="image"
                                src="./img/image-item-list-Cristo_Redentor.jpg"
                                alt="Ponto Turístico" placeholder="Imagem"
                                disabled
                                />
                            <h2 class="title_item">Cristo Redentor</h2>
                            <figcaption>Amet minim mollit non deserunt ullamco
                                est sit aliqua
                                dolor dosa amet sint. Velit officia consece duis
                                enim
                                velit mollit.</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="SlickImageItem">
                            <img class="image-item" type="image"
                                src="./img/image-item-list-Ilha_Grande.jpg"
                                alt="Ponto Turístico" placeholder="Imagem"
                                disabled
                                />
                            <h2 class="title_item">Ilha Grande</h2>
                            <figcaption>Amet minim mollit non deserunt ullamco
                                est sit aliqua
                                dolor dosa amet sint. Velit officia consece duis
                                enim
                                velit mollit.</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="SlickImageItem">
                            <img class="image-item" type="image"
                                src="./img/image-item-list-Pão-de-açucar.jpg"
                                alt="Ponto Turístico" placeholder="Imagem"
                                disabled
                                />
                            <h2 class="title_item">Centro historico</h2>
                            <figcaption>Amet minim mollit non deserunt ullamco
                                est sit aliqua
                                dolor dosa amet sint. Velit officia consece duis
                                enim
                                velit mollit.</figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </main>
        <script src="../scripts/components/slick.min.js"></script>
        <script type="module" src="bundle.min.js"></script>
    </body>
</html>