.WrapperFormConteiner{
    position: relative;
    max-width: 100%;
    height: 430px;
    margin: 0 auto;
    padding: 40px 130px 60px;
    .title-form{
        margin-bottom:40px;
        font-size: 32px;
        width: 477px;
        height: 38px;
    }
}
.WrapperSlickConteiner{
    display: inline-flex;
    position: relative;
    padding-inline: 130px;
    flex-direction: column;
    width: 1460px;
    height: 0 auto;
}
.FormConteiner{
    position: absolute;
}