.TuristInputs{
    display:flex;
    .FormImage{
        flex:1;
        margin-right: 20px;
        .select_label{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            width: 344px;
            height: 212px;
            aspect-ratio: 16/9;
            border: 2px solid $-gray-100;
            cursor:pointer;
            .input-image{
                display: none;
            }
            .PictureCap{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .picture__img{
                    width: 100%;
                }
            }
        }
    }
    .FormImageTitle{
        .input-titulo{
            margin-bottom: 20px;
            width: 328px;
            height: 56px;
            padding: 16px;
            border-radius: 8px;
            border: 2px solid $-gray-100;
            font-size: 16px;
        }
    }
    .FormImageDesc{
        width: 418px;
        height: 136px;
        .input-descricao{
            width: 418px;
            height: 136px;
            padding: 40px 20px 0;
            border-radius: 8px;
            font-size: 16px;
            border: 2px solid $-gray-100;
        }
    }
}
.button-submit{
    position: absolute;
    margin-top: 20px;
    left: 85%;
    right: 100%;
    background: $-prisma;
    color: $-white;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    width: 122px;
    height: 56px;
    border: 0;
    text-transform: Uppercase;
    font-size: 16px;
    &:hover{
        background-color:$-crimson;
    }
    &:active{
        background-color: $-shockPink;
    }
    }
    .picture__img{
        width: 100%;
    }

