@media screen and (min-width: 280px) and (max-width: 490px) {
    .WrapperFormConteiner{
        padding: 0;
        height: 650px;
        .title-form{
            text-align: center;
            width: 332px;
            height: 76px;
            margin: 40px 16px;
        }
        .TuristInputs {
            justify-content: center;
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin: 16px;
            .FormImageTitle{
                .input-titulo{
                    width: 343px;
                    height: 56px;
                }
            }
            .FormImage{
                flex: 0;
                margin: 0 0 16px 0 ;
                .input-image{
                    width: 100%;
                    height: 212px;
                }
            }
            .FormImageDesc{
                justify-content: center;
                width: 100%;
                flex-direction: column;
                align-items: center;
                .input-descricao{
                    margin: 0 12px 0 12px;
                    width: 94%;
                    height: 136px;
                }
            }
            }
            .button-submit{
                left: 0;
                width: 100%;
                margin: 16px 40px 16px 10px;
            }
    }
    .wrapperFormInput{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        flex-direction: column;
        align-content: center;
    }
    .WrapperSlickConteiner{
        margin: 0px 0px 22px 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .container-item-list{
        margin-bottom: 24px;
    }
    .arrow{
        display: none;
    }
}
@media screen and (min-width: 491px) and (max-width: 1024px){
    .WrapperFormConteiner{
        padding: 0;
        height: 650px;
        .title-form{
            text-align: center;
            width: 332px;
            height: 76px;
            margin: 40px 16px;
        }
        .TuristInputs {
            justify-content: center;
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin: 16px;
            .FormImageTitle{
                .input-titulo{
                    width: 343px;
                    height: 56px;
                }
            }
            .FormImage{
                flex: 0;
                margin: 0 0 16px 0 ;
                .input-image{
                    width: 100%;
                    height: 212px;
                }
            }
            .FormImageDesc{
                justify-content: center;
                width: 100%;
                flex-direction: column;
                align-items: center;
                .input-descricao{
                    margin: 0 12px 0 12px;
                    width: 94%;
                    height: 136px;
                }
            }
            }
            .button-submit{
                left: 0;
                width: 100%;
                margin: 16px 40px 16px 10px;
            }
    }
    .wrapperFormInput{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        flex-direction: column;
        align-content: center;
    }
    .WrapperSlickConteiner{
        margin: 0px 0px 22px 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .container-item-list{
        margin-bottom: 24px;
    }
    .arrow{
        display: none;
    }
}
@media screen and (min-width: 2500px){
    .WrapperFormConteiner{
        position: relative;
        max-width: 100%;
        height:613px;
        margin: 0 auto;
        padding: 40px 130px 60px;
        .title-form{
            margin-bottom:40px;
            font-size: 32px;
            width: 953px;
            height: 77px;
        }
    }
    .WrapperSlickConteiner{
        display: inline-flex;
        position: relative;
        padding-inline: 130px;
        flex-direction: column;
        max-width: 100%;
        width: 2500px;
        height:934px;
        align-content: center;
    }
    .TuristInputs{
        .FormImage{
            .select_label{
                width: 600px;
                height: 400px;
                .PictureCap{
                    font-size: 32px;
                    .picture__img{
                        height: 400px;
                        width: 600px;
                    }
                }
            }
        }
        .FormImageTitle{
            .input-titulo{
                font-size: 32px;
            }
        }
        .FormImageDesc{
            .input-descricao{
                width: 725px;
                height: 320px;
                font-size: 32px;
            }
        }
    }
    .button-submit{
        width: 202px;
        height: 80px;
        left: 1146px;
        font-size: 32px;
    }
    .title-list{
        font-size: 32px
    }
    .SlickImageItem{
        width: 544px;
        height: 768px;
    }
    .container-item-list{
        width: 544px !important;
        margin-right: 22px;
        margin-bottom: 22px;
        height: 768px;
        .image-item{
            width: 544px;
            height: 400px;
        }
        .title-item-list{
            font-size: 32px;
            display: block;
            width: 484px;
        }
        .description-item-list{
            font-size: 32px;
            line-height: 48px;
        }
    }
    .slick-track{
        height: 500px;
    }
    .arrow{
        width: 26px;
        height: 58px;
        background-size: 26px 58px;
    }
    .Fakebutton-Next{
        transform: translatex(2282px);
    }
    .slick-dots{
        height: 27px;
    }
    .slick-dots li{
        width: 28px;
        height: 28px;
        margin: 0 0.12rem;
    }
    }