p,
input,
button,
span
{
    color:$-gray-400;
    font-family: 'Roboto', sans-serif;
}
button{
    cursor:pointer;
}
h{
    color:$-black;
}
textarea{
    resize:none;
    font-family: 'Roboto', sans-serif;
}