// colors
$-black : #000000;
$-white:#ffffff;
$-gray: #D6D6D6;
$-gray-100:#e5e5e5;
$-gray-400:#858585;
$-gray-500:#333333;
$-prisma: #FF5A5F;
$-crimson: rgb(156, 4, 34);
$-shockPink:rgb(220, 20, 60);
$-darken: #333333;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;

// Mixins
@mixin mobile {
  @media (max-width: #{$mobile - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile}) and (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
